            <div class="chatbox" id="chatbox" [class.large]="this.large">
                <div *ngFor="let m of messages">
                    <ng-container *ngIf="m.tr === ''">
                        <span [style.color]="m.color">{{m.tc}}</span>
                    </ng-container>
                    <ng-container *ngIf="m.tr !== ''">
                        <span [style.color]="m.color">{{m.tc}}: </span>{{m.tr}}
                    </ng-container>
                </div>
            </div>
            <input [(ngModel)]="this.msg" type="text" placeholder="Diskussionsbeitrag" (keyup.enter)="this.sendMessage()" />
            <button (click)="this.sendMessage()" class="chatButton" title="chatten"></button>
            <button (click)="toggleHeight()" class="chatboxButton" title="Chat-Fenster vergrößern" id="chatboxButton" [class.changeIcon]="this.changeIcon"></button>

<!--
<fieldset>
<legend>Chat</legend>
<button (click)="this.sendMessage()">Schreiben ...</button>
<div class="chatbox" id="chatbox">
    <div *ngFor="let m of messages">
        <ng-container *ngIf="m.tr === ''">
            <span [style.color]="m.color">{{m.tc}}</span>
        </ng-container>
        <ng-container *ngIf="m.tr !== ''">
            <span [style.color]="m.color">{{m.tc}}: </span>{{m.tr}}
        </ng-container>
    </div>
</div>
</fieldset>
-->